#block-counts {
  margin-left: 5px;
}

#buttons {
  margin-top: 25px;
  margin-left: 5px;
}

#blocks {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.red-fill {
  background-color: red;
}

.blue-fill {
  background-color: blue;
}

.green-fill {
  background-color: green;
}

.yellow-fill {
  background-color: yellow;
}
